<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="frameworkConfig" type="FXA.DPSE.Framework.Common.Configuration.Section.FrameworkConfigSection, FXA.DPSE.Framework.Common, Version=1.0.0.0, Culture=neutral" />
    <section name="serviceConfig" type="FXA.DPSE.Service.DipsTransport.Common.Configuration.Section.DipsTransportConfigurationSection, FXA.DPSE.Service.DipsTransport.Common, Version=1.0.0.0, Culture=neutral" />
  </configSections>
  <connectionStrings>
    <add name="PaymentInstructionDb" connectionString="metadata=res://*/PaymentInstructionDbModel.csdl|res://*/PaymentInstructionDbModel.ssdl|res://*/PaymentInstructionDbModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=127.0.0.1;initial catalog=FXA.DPSE.DB.PaymentInstruction;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DipsTransportDb" connectionString="metadata=res://*/DipsTransportDbModel.csdl|res://*/DipsTransportDbModel.ssdl|res://*/DipsTransportDbModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=127.0.0.1;initial catalog=FXA.DPSE.DB.DipsTransport;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <frameworkConfig>
    <services>
      <loggingService url="http://localhost:58039/dpse/logging" enabled="false" />
      <auditService url="http://localhost:13046/dpse/audit" enabled="false" />
    </services>
  </frameworkConfig>
  <serviceConfig>
    <pgpPublicKeyFile path="" />
    <transports>
      <transport name="dipsPayload">
        <source type="Path" path="\\NRYE745-B31RY52\DipsPayloads\Payloads" regex=".xml|.jpg|.tif" />
        <destination type="Sftp" path="/DipsPayloads">
          <connection server="127.0.0.1" port="22" user="gmpatel" password="" certificatePath="C:\Temp\SFTP\Certificate\openssh-key-20151007.ppk" useCertificateInsteadPasswordForAuthorization="true" connectionTimeOutMiliSeconds="15000" idleTimeoutMiliSeconds="15000" />
        </destination>
        <tempLocation type="Path" path="\\NRYE745-B31RY52\DipsPayloadsTempLocation\" />
      </transport>
      <transport name="dipsEod">
        <source type="Path" path="\\NRYE745-B31RY52\DipsPayloads\Payloads" regex=".xml" />
        <destination type="Sftp" path="/DipsPayloads">
          <connection server="127.0.0.1" port="22" user="gmpatel" password="" certificatePath="C:\Temp\SFTP\Certificate\openssh-key-20151007.ppk" useCertificateInsteadPasswordForAuthorization="true" connectionTimeOutMiliSeconds="15000" idleTimeoutMiliSeconds="15000" />
        </destination>
        <tempLocation type="Path" path="\\NRYE745-B31RY52\DipsPayloadsTempLocation\" />
      </transport>
    </transports>
  </serviceConfig>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web, Version=4.0.0.0,Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </modules>
    <handlers>
      <add name="UrlRoutingHandler" preCondition="integratedMode" verb="*" path="UrlRouting.axd" />
    </handlers>
    <directoryBrowse enabled="true" />
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
