<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <!-- To Validate Data Annotations Of Service Operations Request Before Hitting Service Operation-->
        <add name="validateDataAnnotationsServiceBehavior" type="FXA.DPSET.Framework.Service.Infrastructure.Attributes.Validators.ValidateDataAnnotationsServiceBehaviorExtensionElement, FXA.DPSET.Framework.Service.Infrastructure, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <validateDataAnnotationsServiceBehavior/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>