<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="autofac" type="Autofac.Configuration.SectionHandler, Autofac.Configuration, Version=3.3.0.0, Culture=neutral, PublicKeyToken=17863af14b0044da" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net, Version=1.2.13.0, Culture=neutral, PublicKeyToken=669e0ddf0bb1aa2a" />
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="validateDataAnnotationsServiceBehavior" type="FXA.DPSET.Framework.Service.Infrastructure.Attributes.Validators.ValidateDataAnnotationsServiceBehaviorExtensionElement, FXA.DPSET.Framework.Service.Infrastructure, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
        <add name="ping" type="FXA.DPSET.Framework.Service.Infrastructure.Attributes.Ping.PingEndpointBehaviorExtensionElement, FXA.DPSET.Framework.Service.Infrastructure, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To Validate Data Annotations Of Service Operations Request Before Hitting Service Operation-->
          <validateDataAnnotationsServiceBehavior/>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="webHttp">
          <ping />
          <webHttp/>
        </behavior>
        <behavior name="basicHttp">
          <ping />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <services>
      <service name="FXA.DPSET.Framework.Service.Library.HealthMonitorService">
        <endpoint address="" binding="webHttpBinding" contract="FXA.DPSET.Framework.Service.Library.IHealthMonitorService" behaviorConfiguration="webHttp" />
        <endpoint address="basic" binding="basicHttpBinding" contract="FXA.DPSET.Framework.Service.Library.IHealthMonitorService" behaviorConfiguration="basicHttp" />
      </service>
    </services>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" /> 
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>
  <autofac>
    <components>
      <!-- Example: How to override default Logger Component; the assembly "FXA.DPSE.Custom.Logging.DLL" does not exists -->
      <!--<component type="FXA.DPSE.Custom.Logging.Logger, FXA.DPSE.Custom.Logging, Version=1.0.0.0, Culture=neutral, PublicKeyToken=45ce1805ab6ffd37" service="FXA.DPSE.Framework.Scheduler.Service.Infrastructure.Core.ILogger, FXA.DPSE.Framework.Scheduler.Service.Infrastructure, Version=1.0.0.0, Culture=neutral, PublicKeyToken=45ce1805ab6ffd37" instance-scope="single-instance" />-->
    </components>
  </autofac>
  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="LogFileAppender" />
    </root>
    <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
      <param name="File" value="C:\Temp\Log4Net\FXA.DPSET.Framework.Service.log" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="DEBUG" />
        <param name="LevelMax" value="FATAL" />
      </filter>
    </appender>
  </log4net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
